body {
  background: linear-gradient(to right, #cddadc, #6dcbe7);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 30px;
}
.wrapper {
  width: 465px;
  margin: 0 auto;
  align-items: center;
}
.heading {
  margin: 0 auto;
  width: 50%;
}
.form {
  width: 100%;
  position: relative;
  display: flex;
  padding: 10px 10px 10px;
}
.input {
  width: 100%;
  padding: 10px;
  border: 4px solid #010a06;
  border-radius: 10px 0 0 10px;
  border-right: none;
  outline: none;
  font-size: 20px;
  color: rgb(9, 51, 32);
  background: none;
}
.button {
  text-align: center;
  height: 58px;
  width: 80px;
  outline: none;
  cursor: pointer;
  border: 4px solid #111d5e;
  border-radius: 0 10px 10px 0;
  border-left: none;
  background: none;
  font-size: 20px;
  color: rgb(4, 37, 43);
  border-left: 4px solid #111d5e;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.name {
  text-align: center;
  font-size: 25px;
  margin: 0 auto;
  text-transform: uppercase;
}
.table {
  border-collapse: collapse;
  font-size: 0.55em;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  width: 400px;
  padding: 10px 10px 10px;
}
.table thead tr {
  border: 2px solid #000000;
  background-color: #a599cd;
  color: #ffffff;
  text-align: left;
}
.table th,
.table td {
  padding: 12px 15px;
}
.table tbody tr {
  border: 2px solid #000000;
  background-color: #f3f3f3;
}
.btn {
  justify-content: center;
  display: flex;
  width: 200px;
  height: 50px;
  margin: 15px auto;
  font-size: 30px;
  border-radius: 15px;
  background: linear-gradient(to right, #8adb9c, #58e791);
}
.btn:hover {
  background: linear-gradient(to right, #91e984, #62e758);
  cursor: pointer;
}
