@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P");

body {
  background: radial-gradient(at center, #afd5db, #9196dc);
  font-family: "Press Start 2P";
  background-size: cover;
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
  align-items: center;
}
.heading {
  margin: 0 auto;
  width: 392px;
  font-size: 44px;
}
.form {
  width: 700px;
  margin-left: 140px;
  margin-top: 20px;
  display: flex;
  padding: 10px 10px 10px;
  font-family: "Press Start 2P";
}
.input {
  width: 100%;
  padding: 10px;
  border: 4px solid #010a06;
  border-radius: 10px 0 0 10px;
  border-right: none;
  outline: none;
  font-size: 20px;
  color: rgb(9, 51, 32);
  background: none;
  justify-content: center;
}
.button {
  text-align: center;
  height: 58px;
  width: 150px;
  outline: none;
  cursor: pointer;
  border: 4px solid #111d5e;
  border-radius: 0 10px 10px 0;
  border-left: none;
  background: none;
  font-family: "Press Start 2P";
  font-size: 20px;
  color: rgb(4, 37, 43);
  border-left: 4px solid #111d5e;
}
.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.name {
  text-align: center;
  font-size: 18px;
  margin: 5px auto;
  text-transform: capitalize;
}
.table {
  border-collapse: collapse;
  font-size: 0.58em;
  font-family: "Press Start 2P";
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  width: 400px;
  padding: 10px 10px 10px;
}
.table thead tr {
  border: 4px solid #000000;
  background-color: #a599cd;
  color: #ffffff;
  text-align: left;
}
.table th,
.table td {
  padding: 12px 15px;
}
.table tbody tr {
  border: 4px solid #000000;
  background-color: #f3f3f3;
}
.btn {
  justify-content: center;
  display: flex;
  width: 200px;
  height: 50px;
  padding: 10px;
  margin: 15px auto;
  font-family: "Press Start 2P";
  font-size: 20px;
  border-radius: 15px;
  background: linear-gradient(to right, #db8ab7, #bc58e7);
}
.btn:hover {
  background: linear-gradient(to right, #8884e9, #cd58e7);
  cursor: pointer;
}
.battle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.battle-container {
  width: 1060px;
}
.btn-move {
  display: inline-block;
  padding: 13px;
  border-radius: 0.25em;
  font-size: 0.8em;
  font-family: "Press Start 2P";
  text-align: center;
  white-space: nowrap;
  background: linear-gradient(to right, #db8ab7, #bc58e7);
  color: rgb(8, 0, 0);
  text-transform: capitalize;
  margin: 5px 10px;
}
.btn-move:hover {
  background: linear-gradient(to right, #8884e9, #cd58e7);
  cursor: pointer;
}
.log {
  background-color: white;
  border: 10px solid #333;
  border-radius: 10px;
  padding: 20px;
  color: #333;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 800px;
  margin: 10px auto;
}
.moves {
  text-align: center;
  margin: 5px 10px;
}
.ins {
  margin: 0 auto;
  text-align: center;
}
